
@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <div class="sidenav">
        <div>

        </div>
        <button class="dropdown-btn">
            Student
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            @Html.ActionLink("Add Student", "Addstudnt", "Student")
            @Html.ActionLink("Display Student", "AllStudent", "Student")
            @Html.ActionLink("Edit Student", "AllStudent", "Student")
            @Html.ActionLink("Delete Student", "AllStudent", "Student")

        </div>
        <button class="dropdown-btn">
            Teacher
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            @Html.ActionLink("Add Teacher", "AddTeacher", "Student")
            @Html.ActionLink("Display Teacher", "AllTeacher", "Student")
            @Html.ActionLink("Edit Teacher", "AllTeacher", "Student")
            @Html.ActionLink("Delete Teacher", "AllTeacher", "Student")

        </div>
        <button class="dropdown-btn">
            Country
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            @Html.ActionLink("Country List", "AllCountry", "Countrystatecity")

        </div>
        <button class="dropdown-btn">
            State
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            @Html.ActionLink("State List", "AllState", "Countrystatecity")

        </div>
        <button class="dropdown-btn">
            City
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            @Html.ActionLink("City List", "AllCity", "Countrystatecity")



        </div>
        <button class="dropdown-btn">
           Quiz
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            @Html.ActionLink("Play Quiz", "Quiz", "Quiz")



        </div>
    </div>
   
   
    

    <div class="main">

    </div>

    @*<script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>*@

</body>
</html> 